 <div class="container text-center">
  <ul class="list-inline text-center">
    <h1>Our team</h1>
    <% ["anne", "anne", "anne"].each do |member| %>
    <li>
      <h3><%= member.capitalize %></h3>
      <%= image_tag "#{member}.jpg", id: "Paul", class: "avatar-team img-circle" %>
    </li>
    <% end %>

    <h3 class="text-center padded">
      <% link_to "mailto:contact@airbnb.com" do %>
        <i class="fa fa-envelope"></i><span> contact@airbnb.com</span>
      <% end %>
    </h3>
  </ul>
</div>
